@font-face{
	font-family:"cool font";
	src:url("http://wickedlysmart.com/hfhtmlcss/chapter8/journal/EmblemaOne-Regular.woff"),url("http://wickedlysmart.com/hfhtmlcss/chapter8/journal/EmblemaOne-Regular.ttl");
}
body{
	font-family:Verdana,Geneva,Arial,sans-serif;
	font-size:large;
}
h1{
	font-size:220%;
	font-family:"cool font";
}
h2{
	font-size:120%;
	font-weight:normal;
}
blockquote{
	
	font-style:italic;
}
h1,h2{
	color:#cc6600;
	/*text-decoration:underline;*/
	border-bottom:thin dotted #888888;
}
