body { 
  background-color: #b5a789;
  font-family:      Georgia, "Times New Roman", Times, serif;
  font-size:        small;
  margin:           0px;
}

#header {
  background-color: #675c47;
  margin:           10px;
  height:           108px;
}

#main {
  background:       #efe5d0 url(images/background.gif) top left;
  font-size:        105%;
  padding:          15px;
  margin:           0px 330px 10px 10px;
  /*width:420px;
  float:left;*/
}

#sidebar {
  background:       #efe5d0 url(images/background.gif) bottom right;
  font-size:        105%;
  padding:          15px;
  margin:           0px 10px 10px 10px;
  /*使用float必须在之前设置元素宽度*/
  width:280px;
  float:right;
}

#footer {
  background-color: #675c47;
  color:            #efe5d0;
  text-align:       center;
  padding:          15px;
  margin:           10px;
  font-size:        90%;
  clear:right;
}

h1 {
  font-size:        120%;
  color:            #954b4b;
}

.slogan { color: #954b4b; }

.beanheading {
  text-align:       center;
  line-height:      1.8em;
}

a:link {
  color:            #b76666;
  text-decoration:  none;
  border-bottom:    thin dotted #b76666;
}
a:visited {
  color:            #675c47;
  text-decoration:  none;
  border-bottom:    thin dotted #675c47;
}
#nana{
  margin:20px;
  border-style:dotted;
  border-color:white;
  border-width:5px;
  float:right;
}
#allcontent{
  width:1080px;
  padding:5px 0px 5px 0px;
  background-color:#675c47;
  text-align:center;
  margin-left:auto;
  margin-right:auto;
}
#tohead{
  /*使用position来放置页面元素*/
  position:fixed;
  /*fixed是相对于浏览器页面大小位置,
  absolute是绝对位置，
  static是使用流的方式*/
  right:20%;
  bottom:10%;
}