body{
	font-family:sans-serif;
}
h1,h2{
/*	font-family:sans-serif;*/
	color:gray;

}
h1{
	border-bottom:1px solid gray;
}
p{
	color:red;
	/*font-family:sans-serif;*/
}
em{
	font-family:serif;
}
p.greentee{
	color:green;
}
p.lightblue{
	color:lightblue;
}
p.blue{
	color:blue;
}


