body{
	font-size:small;
	font-family:verdana,helvetica,arial,sans-serif;
	line-height:1.6em;
}
h1,h2{
/*	font-family:sans-serif;*/
	color:#007e7e;

}
h1{
	/*border-bottom:1px solid gray;*/
	font-size:150%;
}
h2{
	font-size:120%;
}
